{% extends 'base.html' %} {% load static %} {% block header-footer %}

<div class="col-12 container-fluid row m-0 p-0 overflow-hidden">
    <div class="col-12 col-lg-6 search justify-content-center text-center container row p-0 m-0">
        <input type="search" placeholder="Search" class="col-5  px-4  my-3 ">
        <button type="button" class="mx-2 my-auto py-1  border-0">Search</button>
    </div>
    <div class="col-6 d-none d-lg-block">
        <h1 class="border border-dark my-2 rounded-3">offers mini banner</h1>
    </div>
</div>
<div class="col-12 container-fluid row m-0 d-block d-lg-none filterm py-3 justify-content-around text-center"
    style="top: 70px;">
    <select name="cat" id="" class="col-2  text-center rounded  select">
        <option value="">catagory</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
    </select>
    <select name="cat" id="" class="col-2  text-center rounded select">
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
    </select>
    <select name="cat" id="" class="col-2  text-center rounded select">
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
    </select>
    <select name="cat" id="" class="col-2  text-center rounded select">
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
    </select>
    <select name="cat" id="" class="col-2  text-center rounded select">
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
        <option value="">odfiioj</option>
    </select>
</div>
<div class="col-12 container-fluid row m-0 p-0 justify-content-evenly">


    <div class="container-fluid row m-0 px-1 justify-content-center  text-center d-none d-lg-block filters" id="filter">
        <p class="col-12 text-white border-4 border-bottom">Filters</p>
        <select name="cat" id="" class="col-9 my-3 py-1 select text-center rounded ">
            <option value="">catagory</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
        </select>
        <select name="cat" id="" class="col-9  py-1 my-3 select text-center rounded">
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
        </select>
        <select name="cat" id="" class="col-9  py-1 my-3 select text-center rounded">
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
        </select>
        <select name="cat" id="" class="col-9  py-1 my-3 select text-center rounded">
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
        </select>
        <select name="cat" id="" class="col-9  py-1 my-3 select text-center rounded">
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
            <option value="">odfiioj</option>
        </select>
    </div>



    <div class=" col-12 col-lg-9 col-xl-10 container-fluid justify-content-center row p-0 m-0 ">
        <!-- .............product div....................... -->
        <div class="card container-fluid container row m-0 p-2 justify-content-center col-6 col-md-4 col-lg-3 border border-3">
            <div class="p-head">
                <h5 class="m-0 p-0 col-11">Beats By Dre</h5>
                    <span>Headphones</span>
                </div>
            <div class="p-info px-3 ">
               
                <div class="p-price d-flex flex-row">
                    <span>₹</span>
                    <h4 class="p-0 m-0">299</h4>
                </div>
                <div class="heart  "><a class="material-symbols-outlined">
                        favorite
                    </a></div>
            </div>
            <div class="text-center p-image">
                <img src="https://i.imgur.com/hpftqCo.png" />
            </div>
            <h6 class="m-0 p-0 d-info text-center">blueetooth 6 + 2 device connectivity</h6>
            <p class="m-0 p-0 d-info text-center">lkdsjfuiohdi sjdaciuhsd jskdahcuyghf</p>
            <div class="p-about">
                <p class="m-0 p-0">
                    It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout. The
                    point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed
                </p>
            </div>
            <div class="buttons d-flex flex-row gap-3 px-3">
                <button class="btn btn-danger w-100">View</button>
                <button class="btn btn-outline-danger w-100">Buy Now</button>
            </div>
        </div>

 <!-- .............product div.....ends.................. -->
  
 

{% endblock %}