<div class="form-group form-default mt-5">
    <div class="btn-group" data-toggle="buttons">
        
        <label class="btn btn-outline-primary ">
          <input type="radio" name="type"  id="option2" value="FLAT" autocomplete="off"> Flat discount by rate
        </label>

        <label class="btn btn-outline-primary ">
          <input type="radio" name="type"  id="option3" value="UPTO" autocomplete="off"> &nbsp;Discount upto rate &nbsp;
        </label>
      </div>
</div>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.............................................dont calendar.....................................................
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>



<div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
  <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
      <a href="cart.html" class="dropdown-item">Shopping Cart</a>
      <a href="checkout.html" class="dropdown-item">Checkout</a>
  </div>
</div>