function changeQuantity(cartId, proId, userId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    count = parseInt(count)
    $.ajax({
        url: '/change-product-quantity',
        data: {     
            cart:cartId,
            product: proId,
            user:userId,
            count: count,
            quantity: quantity
        },
        method: 'post',
        success: (response) => {
            if (response.removeProduct) {
                alert("Product Removed from cart")
                location.reload()
            } else {
                document.getElementById(proId).innerHTML = quantity + count
                document.getElementById('total').innerHTML = response.total
            }
        }
    })
}


<div class="form-group row text-danger">
    <label class="col-sm-2 col-form-label  h6 text-success">Stock</label>
    <div class="col-sm-3">
        <input type="text" name="stock" value="{{ p.available_stock }}" class="form-control text-danger text-success" readonly id="inp4">
    </div>
</div>
{% for c in cat %}
                                        <p class="h6 text-left col-4 text-center mx-2"> {% if c.id == p.category_id %} Category : {{c.category_name }} {% endif %} </p>
                                        {% endfor %}